/*.component-fileTree{*/
/*    height: calc(100vh - 100px);*/
/*    overflow: scroll;*/
/*}*/

/*.component-fileTree, .component-fileTree ul{*/
/*    padding: 5px 0 0 5px;*/
/*    font-size: 12px;*/
/*    font-weight: bold;*/

/*}*/

/*.component-fileTree li{*/
/*    font-size: 11px;*/
/*    list-style: none;*/

/*}*/

.fileTree {
    font-size: 12px;
}


.fileTree > li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.fileTree > li:hover{
    background: #171717;

}

.fileTree .badges {
    position: absolute;
    top: -14px;
    font-size: 10px;
    left: 34px;
    width: 100%;
}

.fileTree li.active{
    background: #171717;
}
.fileTree ul.children{
    position: absolute;
    top: 76px;
    left: 50%;
    font-size: 10px;
    /*WTF why is this not correct in each viewport ?!*/
    height: calc(100vh - 75px);
    overflow: scroll;
    background: #171717;
    width: 50%;
    padding: 5px;

}