/*.component-fileTree{*/
/*    height: calc(100vh - 100px);*/
/*    overflow: scroll;*/
/*}*/

/*.component-fileTree, .component-fileTree ul{*/
/*    padding: 5px 0 0 5px;*/
/*    font-size: 12px;*/
/*    font-weight: bold;*/

/*}*/

/*.component-fileTree li{*/
/*    font-size: 11px;*/
/*    list-style: none;*/

/*}*/

.fileTree {
    font-size: 12px;
}

.fileTree li{
    cursor: pointer;
}


.fileTree > li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.fileTree > li:hover{
    background: #171717;

}

.fileTree .badges {
    /*position: absolute;*/
    /*top: -14px;*/
    font-size: 10px;
    /*left: 34px;*/
    /*width: 100%;*/
    /*display: flex;*/
}

.fileTree li.active{
    background: #171717;
}
.fileTree ul.children li:hover,
.fileTree ul.children li.active{
    background: #3e3e3e;
    margin-left: -5px;
    padding-left: 5px;
    font-weight: bold;
}

.fileTree ul.children::-webkit-scrollbar {
    display: none;
}


.fileTree ul.children{

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


    z-index: 1;
    position: absolute;
    top: 61px;
    left: 50%;
    font-size: 10px;
    /*WTF why is this not correct in each viewport ?!*/
    height: calc(100vh - 75px);
    overflow: scroll;
    background: #171717;
    width: 50%;
    padding: 5px;

}