ul.icon-boxes {
    padding: 0;
    display: inline-block;
    background: #171717;
    width: 100%;

}

ul.icon-boxes li {
    list-style: none;
    width: 50px;
    height: 35px;
    color: #fff;
    float: left;
    text-align: center;
    border-right: 1px solid #525151;
}

ul.icon-boxes li.active, ul.icon-boxes li:hover{
    background: #3e3e3e;
}



ul.icon-boxes li i{
    padding-top: 8px;
    font-size: 20px;
}
